@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Party!</title>
</head>
<body>

    <div class="text-center">
        <h3>Welcome to this exciting webpage.</h3><br />
        <a class="btn btn-primary" asp-action="AddPerson">Add a person to the list</a>
        <a class="btn btn-primary" asp-action="ListPeople">Get to know the people</a>
    </div>

</body>
</html>
